@import '../../assets/style/mixin.scss';
.banner{
    width:100%;
    height:100%;
    display: inline-block;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
    }
}
.am-carousel-wrap-dot{
    margin:px2rem(5) px2rem(5);
    &.am-carousel-wrap-dot-active{
        span{
            background: $theme1;
        }
    }
    span{
        width: px2rem(16)!important;
        height: px2rem(16)!important;
    }
}