.postmessage {
  height: 100vh;
  background-color: #fff;
  padding: 10rpx 35rpx 0;
  .title {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    .back {
      font-size: 60rpx;
      position: relative;
      top: -20rpx;
      left: -20rpx;
      font-weight: 100;
    }
    .content {
      font-weight: 500;
    }
    .sendmessage {
      color: darkorange;
    }
  }
  input {
    
  }
  .wrapper {
    
    .picwrapper {
      padding: 10rpx;
      float: left;
      
      image {
        width: 200rpx;
        height: 200rpx;
        border-radius: 10rpx;
      }
      .picselect {
        padding: 10rpx;
        float: left;
        width: 200rpx;
        height: 200rpx;
        border: 1px dashed #d3c7ff;
        font-size: 200rpx;
        line-height: 200rpx;
        text-align: center;
        color: #d3c7ff;
        border-radius: 10rpx;
        .addd {
          position: relative;
          top: -30rpx;
        }
    
      }
    }
    
  }

}