$fontColor = #ffffff
$colorBackground = rgba(7,17,27,1)
$colorBackground-s = rgba(7,17,27,0.8)
$colorBackground-ss = rgba(7,17,27,0.5)
$colorBackground-sss = rgba(7,17,27,0.2)
$colorBackground-ssss = #f3f5f7


$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px

$color-font = #666666
$color-light-grey = #999
$color-dark-grey = #333
